* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

title {
    user-select: none;
}

body {
    background-color: #fff !important;
    color: #2d3139 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

header {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: start;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    text-align: center;
}

.img img {
    width: 700px;
}

form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #2d3139;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #7c7c7c;
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #6c63ff;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
    width: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i {
    color: #6c63ff;
}

.input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #2d3139;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.input-div.pass {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #7c7c7c;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: #6c63ff;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6c63ff, #748bd7, #4c44fd);
    background-size: 200%;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1e2026;
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("wave.svg");
    background-size: 1000px 100px;
}


.dws-menu {
    margin: 10px;
    width: 100%;
}

ul.dws-ul {
    margin-bottom: 10rem;
    display: flex;
    padding: 0.25rem;
    justify-content: center;
}

li.dws-li {
    list-style: none;
    padding: 1.25rem;
    z-index: 10000;
}

li.dws-li a {
    text-decoration: none;
    font-size: 15px;
    color: #2d3139;
    position: relative;
}

li.dws-li a i {
    margin-right: 10px;
}

li.dws-li a::before {
    content: '';
    width: 0;
    height: 3px;
    background-color: #2d3139;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}

li.dws-li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #2d3139;
    position: absolute;
    top: 100%;
    right: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}


li.dws-li:hover a::before {
    width: 50%;
    transform: translateX(100%);
}

li.dws-li:hover a::after {
    width: 50%;
    transform: translateX(-100%);
}


ul.dws-ul-1 {
    display: flex;
    padding: 0;
    justify-content: right;
}

li.dws-li-1 {
    list-style: none;
    padding: 0;
    z-index: 10000;
}

li.dws-li-1 a {
    text-decoration: none;
    font-size: 1rem;
    color: #6c757d;
    position: relative;
}

li.dws-li-1 a:hover {
    color: #262930;
}


@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1250px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 500px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}
