<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReNote</title>
    <link rel="stylesheet" type="text/css" href="css_light/wave.css">
    <link rel="stylesheet" type="text/css" href="css_light/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <div class="dws-menu">
        <ul class="dws-ul">
            <li class="dws-li"><a href="#"><h4>Загрузить</h4></a></li>
            <li class="dws-li"><a href="#"><h4>Почему ReNote?</h4></a></li>
            <li class="dws-li"><a href="#"><h4>О нас</h4></a></li>
            <li class="dws-li"><a href="#"><h4>Поддержка</h4></a></li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="img">
        <img src="css_light/img_light/bg1.svg">
    </div>
    <div class="login-content">
        <form action="index.html">
            <h2 class="title">ReNote</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Имя пользователя</h5>
                    <input type="text" class="input">
                </div>
            </div>

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Пароль</h5>
                    <input type="password" class="input">
                </div>
            </div>

            <a href="#"><h4>Забыли пароль?</h4></a>
            <div style="margin: 2rem">
                <input type="submit" class="btn" value="Вход">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="js/main.js"></script>
<div class="ocean">
    <div class="wave"></div>
</div>
</body>
</html>
