body {
    background-color: #1e2026 !important;
    color: #fff !important;
}

main {
    height: 2000px;
}

.font-semi-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.font-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bg-dark-side-bar {
    background-color: #2d303b !important;
}

.dws-menu {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100%;
}

ul.dws-ul {
    display: flex;
    padding: 3px;
    justify-content: right;
}

li.dws-li {
    list-style: none;
    padding: 10px;
    z-index: 10000;
}

li.dws-li a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    position: relative;
}

li.dws-li a i {
    margin-right: 10px;
}

li.dws-li a::before {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}

li.dws-li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    right: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}


li.dws-li:hover a::before {
    width: 50%;
    transform: translateX(100%);
}

li.dws-li:hover a::after {
    width: 50%;
    transform: translateX(-100%);
}


ul.dws-ul-1 {
    display: flex;
    padding: 0;
    justify-content: right;
}

li.dws-li-1 {
    list-style: none;
    padding: 0;
    z-index: 10000;
}

li.dws-li-1 a {
    text-decoration: none;
    font-size: 1rem;
    color: #6c757d;
    position: relative;
}

li.dws-li-1 a:hover {
    color: #eaeaea;
}

.pt-3 {
    padding-top: 1rem !important;
}
