{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<h1>{{ contents[0].title }}</h1>

<div>
    <p><big>{{ contents[0].body }}</big></p>
</div>

<div class="w-25 p-3 mx-auto">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <p></p>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <p></p>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</div>
{% endblock %}
