<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/css_base_dark/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="../static/js/Animation.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block content %}
<body>
<div class="container">
    <div class="login-content">
        <form style="margin-top: 10rem" method="post">

            <h2 class="title">Enter your email</h2>
            <div class="input-div pass has-validation">

                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>

                <div class="div">
                    <h5>Email</h5>
                    {{ form.email(class_='input') }}
                </div>
<!--                {% for error in form.email.errors %}-->
<!--                <span style="color: red;">[{{ error }}]</span>-->
<!--                {% endfor %}-->
            </div>
            <div style="padding: 2rem">
                <h5>Reset your password</h5>
                {{ form.submit(class='btn') }}
            </div>
        </form>
    </div>

</div>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
{% endblock %}
</html>